# DATA CLEANING AND PRE PROCESSING

In [1]:
#Import required libraries
import pandas as pd
import pickle

In [2]:
# Using .read_csv function by panadas to store all our data into different dataframes
all_matches_2021 = pd.read_csv('../data/raw/all_matches_2021.csv')
all_matches_2022 = pd.read_csv('../data/raw/all_matches_2022.csv')
all_matches_2023 = pd.read_csv('../data/raw/all_matches_2023.csv')

away_2021 = pd.read_csv('../data/raw/away_2021.csv')
away_2022 = pd.read_csv('../data/raw/away_2022.csv')
away_2023 = pd.read_csv('../data/raw/away_2023.csv')

home_2021 = pd.read_csv('../data/raw/home_2021.csv')
home_2022 = pd.read_csv('../data/raw/home_2022.csv')
home_2023 = pd.read_csv('../data/raw/home_2023.csv')

In [3]:
# Removing null values and merging the dataframes
all_matches_2021 = all_matches_2021.dropna()
all_matches_2022 = all_matches_2022.dropna()
all_matches_2023 = all_matches_2023.dropna()
all_matches = pd.concat([all_matches_2021, all_matches_2022, all_matches_2023])
all_matches

,Unnamed: 0,date,home_team,score,away_team,stats,half_time,2.5+,total_goals,btts
1,1,Fr 13 Aug,Brentford,2 - 0,Arsenal,stats,(1-0),-,2.0,-
3,3,Sa 14 Aug,Manchester Utd,5 - 1,Leeds Utd,stats,(1-0),+,6.0,+
4,4,Sa 14 Aug,Burnley,1 - 2,Brighton,stats,(1-0),+,3.0,+
5,5,Sa 14 Aug,Chelsea,3 - 0,Crystal Palace,stats,(2-0),+,3.0,-
6,6,Sa 14 Aug,Everton,3 - 1,Southampton,stats,(0-1),+,4.0,+
...,...,...,...,...,...,...,...,...,...,...
176,176,Su 3 Dec,Bournemouth,2 - 2,Aston Villa,stats,(1-1),+,4.0,+
177,177,Su 3 Dec,Chelsea,3 - 2,Brighton,stats,(2-1),+,5.0,+
178,178,Su 3 Dec,Liverpool,4 - 3,Fulham,stats,(2-2),+,7.0,+
179,179,Su 3 Dec,West Ham Utd,1 - 1,Crystal Palace,stats,(1-0),-,2.0,+
180,180,Su 3 Dec,Manchester City,3 - 3,Tottenham,stats,(2-1),+,6.0,+

In [4]:
#Dropping unecessary columns
all_matches = all_matches[["home_team", "away_team", "score"]]
# WInner -> 1 if home 0 if away
def helper(x):
    if int(x.split(' - ')[0]) > int(x.split(' - ')[1]):
        return 1
    elif int(x.split(' - ')[0]) < int(x.split(' - ')[1]):
        return 0
    else:
        return 2
all_matches["winner"] = all_matches["score"].apply(lambda x: helper(x))
all_matches = all_matches.drop(columns=["score"])
all_matches

/var/folders/j8/k92ht80n179ff4q8l12w5gnh0000gn/T/ipykernel_15571/3571823420.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_matches["winner"] = all_matches["score"].apply(lambda x: helper(x))

           home_team       away_team  winner
1          Brentford         Arsenal       1
3     Manchester Utd       Leeds Utd       1
4            Burnley        Brighton       0
5            Chelsea  Crystal Palace       1
6            Everton     Southampton       1
..               ...             ...     ...
176      Bournemouth     Aston Villa       2
177          Chelsea        Brighton       1
178        Liverpool          Fulham       1
179     West Ham Utd  Crystal Palace       2
180  Manchester City       Tottenham       2

[900 rows x 3 columns]

In [5]:
home_df = pd.concat([home_2021, home_2022, home_2023])
away_df = pd.concat([away_2021, away_2022, away_2023])

home_df = home_df.drop(columns=["Unnamed: 0", "No"])
away_df = away_df.drop(columns=["Unnamed: 0", "No"])

display(home_df)
display(away_df)

               Name  GP   W  D   L  GF  GA  GD  Pts
0         Liverpool  19  15  4   0  49   9  40   49
1   Manchester City  19  15  2   2  58  15  43   47
2           Arsenal  19  13  2   4  35  17  18   41
3         Tottenham  19  13  1   5  38  19  19   40
4    Manchester Utd  19  10  5   4  32  22  10   35
5           Chelsea  19   9  7   3  37  22  15   34
6    Leicester City  19  10  4   5  34  23  11   34
7      West Ham Utd  19   9  5   5  33  26   7   32
8     Newcastle Utd  19   8  6   5  26  27  -1   30
9    Crystal Palace  19   7  8   4  27  17  10   29
10          Everton  19   9  2   8  27  25   2   29
11      Southampton  19   6  7   6  23  24  -1   25
12        Brentford  19   7  3   9  22  21   1   24
13    Wolverhampton  19   7  3   9  20  25  -5   24
14      Aston Villa  19   6  5   8  29  29   0   23
15         Brighton  19   5  7   7  19  23  -4   22
16          Burnley  19   5  6   8  18  25  -7   21
17        Leeds Utd  19   4  6   9  19  38 -19   18
18     Norwich City  19   3  3  13  12  43 -31   12
19          Watford  19   2  2  15  17  46 -29    8
0   Manchester City  19  17  1   1  60  17  43   52
1    Manchester Utd  19  15  3   1  36  10  26   48
2           Arsenal  19  14  3   2  53  25  28   45
3         Liverpool  19  13  5   1  46  17  29   44
4     Newcastle Utd  19  11  6   2  36  14  22   39
5       Aston Villa  19  12  2   5  33  21  12   38
6         Brentford  19  10  7   2  35  18  17   37
7         Tottenham  19  12  1   6  37  25  12   37
8          Brighton  19  10  4   5  37  21  16   34
9      Nottm Forest  19   8  6   5  27  24   3   30
10    Wolverhampton  19   9  3   7  19  20  -1   30
11           Fulham  19   8  5   6  31  29   2   29
12     West Ham Utd  19   8  4   7  26  24   2   28
13   Crystal Palace  19   7  7   5  21  23  -2   28
14          Chelsea  19   6  7   6  20  19   1   25
15      Bournemouth  19   6  4   9  20  28  -8   22
16        Leeds Utd  19   5  7   7  26  37 -11   22
17          Everton  19   6  3  10  16  27 -11   21
18   Leicester City  19   5  4  10  23  27  -4   19
19      Southampton  19   2  5  12  19  37 -18   11
0         Liverpool   7   7  0   0  21   5  16   21
1     Newcastle Utd   8   7  0   1  19   4  15   21
2           Arsenal   8   6  2   0  20   8  12   20
3       Aston Villa   6   6  0   0  23   5  18   18
4   Manchester City   7   5  2   0  20   7  13   17
5          Brighton   7   3  3   1  15  10   5   12
6         Brentford   8   3  3   2  15  12   3   12
7         Tottenham   6   4  0   2  10   8   2   12
8    Manchester Utd   7   4  0   3   8  10  -2   12
9      West Ham Utd   7   3  2   2  12  10   2   11
10     Nottm Forest   7   2  3   2  10   9   1    9
11          Chelsea   8   2  3   3  13  13   0    9
12           Fulham   6   3  0   3   7   9  -2    9
13      Bournemouth   8   2  3   3   8  12  -4    9
14    Wolverhampton   6   2  2   2   9  12  -3    8
15   Crystal Palace   6   1  2   3   6   8  -2    5
16       Luton Town   6   1  2   3   6   8  -2    5
17          Everton   7   1  1   5   5   9  -4    4
18    Sheffield Utd   7   1  1   5   7  19 -12    4
19          Burnley   8   1  0   7  10  20 -10    3

               Name  GP   W  D   L  GF  GA  GD  Pts
0   Manchester City  19  14  4   1  41  11  30   46
1         Liverpool  19  13  4   2  45  17  28   43
2           Chelsea  19  12  4   3  39  11  28   40
3         Tottenham  19   9  4   6  31  21  10   31
4          Brighton  19   7  8   4  23  21   2   29
5           Arsenal  19   9  1   9  26  31  -5   28
6     Wolverhampton  19   8  3   8  18  18   0   27
7      West Ham Utd  19   7  3   9  27  25   2   24
8    Manchester Utd  19   6  5   8  25  35 -10   23
9       Aston Villa  19   7  1  11  23  25  -2   22
10        Brentford  19   6  4   9  26  35  -9   22
11        Leeds Utd  19   5  5   9  23  41 -18   20
12   Crystal Palace  19   4  7   8  23  29  -6   19
13    Newcastle Utd  19   5  4  10  18  35 -17   19
14   Leicester City  19   4  6   9  28  36  -8   18
15          Watford  19   4  3  12  17  31 -14   15
16      Southampton  19   3  6  10  20  43 -23   15
17          Burnley  19   2  8   9  16  28 -12   14
18          Everton  19   2  4  13  16  41 -25   10
19     Norwich City  19   2  4  13  11  41 -30   10
0           Arsenal  19  12  3   4  35  18  17   39
1   Manchester City  19  11  4   4  34  16  18   37
2     Newcastle Utd  19   8  8   3  32  19  13   32
3          Brighton  19   8  4   7  35  32   3   28
4    Manchester Utd  19   8  3   8  22  33 -11   27
5            Fulham  19   7  2  10  24  24   0   23
6         Liverpool  19   6  5   8  29  30  -1   23
7         Tottenham  19   6  5   8  33  38  -5   23
8       Aston Villa  19   6  5   8  18  25  -7   23
9         Brentford  19   5  7   7  23  28  -5   22
10          Chelsea  19   5  4  10  18  28 -10   19
11   Crystal Palace  19   4  5  10  19  26  -7   17
12      Bournemouth  19   5  2  12  17  43 -26   17
13          Everton  19   2  9   8  18  30 -12   15
14   Leicester City  19   4  3  12  28  41 -13   15
15      Southampton  19   4  2  13  17  36 -19   14
16     West Ham Utd  19   3  3  13  16  31 -15   12
17    Wolverhampton  19   2  5  12  12  38 -26   11
18        Leeds Utd  19   2  3  14  22  41 -19    9
19     Nottm Forest  19   1  5  13  11  44 -33    8
0         Tottenham   8   4  3   1  18  12   6   15
1   Manchester City   7   4  1   2  16   9   7   13
2           Arsenal   6   4  1   1   9   3   6   13
3           Everton   7   4  1   2  10  11  -1   13
4    Manchester Utd   7   4  0   3   8   7   1   12
5    Crystal Palace   8   3  2   3   8  11  -3   11
6       Aston Villa   8   3  2   3  10  15  -5   11
7           Chelsea   6   3  1   2  12   9   3   10
8         Liverpool   7   2  4   1  11   9   2   10
9          Brighton   7   3  1   3  15  16  -1   10
10     West Ham Utd   7   3  1   3  12  14  -2   10
11        Brentford   6   2  1   3   7   7   0    7
12    Wolverhampton   8   2  1   5  10  13  -3    7
13           Fulham   8   1  3   4   9  17  -8    6
14    Newcastle Utd   6   1  2   3  13  10   3    5
15     Nottm Forest   7   1  1   5   6  13  -7    4
16          Burnley   6   1  1   4   5  12  -7    4
17      Bournemouth   6   1  1   4   8  18 -10    4
18       Luton Town   8   1  1   6   7  18 -11    4
19    Sheffield Utd   7   0  1   6   4  20 -16    1

In [6]:
#Sorting df on the basis of points for each team
away_df = away_df.groupby("Name").sum().sort_values(by=["Pts"])[::-1]
home_df = home_df.groupby("Name").sum().sort_values(by=["Pts"])[::-1]
display(away_df)
display(home_df)

                 GP   W   D   L  GF  GA  GD  Pts
Name
Manchester City  45  29   9   7  91  36  55   96
Arsenal          44  25   5  14  70  52  18   80
Liverpool        45  21  13  11  85  56  29   76
Tottenham        46  19  12  15  82  71  11   69
Chelsea          44  20   9  15  69  48  21   69
Brighton         45  18  13  14  73  69   4   67
Manchester Utd   45  18   8  19  55  75 -20   62
Aston Villa      46  16   8  22  51  65 -14   56
Newcastle Utd    44  14  14  16  63  64  -1   56
Brentford        44  13  12  19  56  70 -14   51
Crystal Palace   46  11  14  21  50  66 -16   47
West Ham Utd     45  13   7  25  55  70 -15   46
Wolverhampton    46  12   9  25  40  69 -29   45
Everton          45   8  14  23  44  82 -38   38
Leicester City   38   8   9  21  56  77 -21   33
Southampton      38   7   8  23  37  79 -42   29
Fulham           27   8   5  14  33  41  -8   29
Leeds Utd        38   7   8  23  45  82 -37   29
Bournemouth      25   6   3  16  25  61 -36   21
Burnley          25   3   9  13  21  40 -19   18
Watford          19   4   3  12  17  31 -14   15
Nottm Forest     26   2   6  18  17  57 -40   12
Norwich City     19   2   4  13  11  41 -30   10
Luton Town        8   1   1   6   7  18 -11    4
Sheffield Utd     7   0   1   6   4  20 -16    1

                 GP   W   D   L   GF  GA  GD  Pts
Name
Manchester City  45  37   5   3  138  39  99  116
Liverpool        45  35   9   1  116  31  85  114
Arsenal          46  33   7   6  108  50  58  106
Manchester Utd   45  29   8   8   76  42  34   95
Newcastle Utd    46  26  12   8   81  45  36   90
Tottenham        44  29   2  13   85  52  33   89
Aston Villa      44  24   7  13   85  55  30   79
Brentford        46  20  13  13   72  51  21   73
West Ham Utd     45  20  11  14   71  60  11   71
Brighton         45  18  14  13   71  54  17   68
Chelsea          46  17  17  12   70  54  16   68
Crystal Palace   44  15  17  12   54  48   6   62
Wolverhampton    44  18   8  18   48  57  -9   62
Everton          45  16   6  23   48  61 -13   54
Leicester City   38  15   8  15   57  50   7   53
Leeds Utd        38   9  13  16   45  75 -30   40
Nottm Forest     26  10   9   7   37  33   4   39
Fulham           25  11   5   9   38  38   0   38
Southampton      38   8  12  18   42  61 -19   36
Bournemouth      27   8   7  12   28  40 -12   31
Burnley          27   6   6  15   28  45 -17   24
Norwich City     19   3   3  13   12  43 -31   12
Watford          19   2   2  15   17  46 -29    8
Luton Town        6   1   2   3    6   8  -2    5
Sheffield Utd     7   1   1   5    7  19 -12    4

In [7]:
#Merging all the dataframes using inner join
df = pd.merge(all_matches, home_df, left_on='home_team', right_on='Name', how='inner')
df

      home_team       away_team  winner  GP   W   D   L  GF  GA  GD  Pts
0     Brentford         Arsenal       1  46  20  13  13  72  51  21   73
1     Brentford        Brighton       0  46  20  13  13  72  51  21   73
2     Brentford       Liverpool       2  46  20  13  13  72  51  21   73
3     Brentford         Chelsea       0  46  20  13  13  72  51  21   73
4     Brentford  Leicester City       0  46  20  13  13  72  51  21   73
..          ...             ...     ...  ..  ..  ..  ..  ..  ..  ..  ...
895  Luton Town   Wolverhampton       2   6   1   2   3   6   8  -2    5
896  Luton Town         Burnley       0   6   1   2   3   6   8  -2    5
897  Luton Town       Tottenham       0   6   1   2   3   6   8  -2    5
898  Luton Town       Liverpool       2   6   1   2   3   6   8  -2    5
899  Luton Town  Crystal Palace       1   6   1   2   3   6   8  -2    5

[900 rows x 11 columns]

In [8]:
#Calculating avaerage goals for and average goals conceded by the home team
df["home_agf"] = df["GF"] / df["GP"]
df["home_agc"] = df["GA"] / df["GP"]
df = df.rename(columns={"Pts": "home_hpts"}).drop(columns=["GP", "W", "D", "L", "GF", "GA", "GD"])
df

      home_team       away_team  winner  home_hpts  home_agf  home_agc
0     Brentford         Arsenal       1         73  1.565217  1.108696
1     Brentford        Brighton       0         73  1.565217  1.108696
2     Brentford       Liverpool       2         73  1.565217  1.108696
3     Brentford         Chelsea       0         73  1.565217  1.108696
4     Brentford  Leicester City       0         73  1.565217  1.108696
..          ...             ...     ...        ...       ...       ...
895  Luton Town   Wolverhampton       2          5  1.000000  1.333333
896  Luton Town         Burnley       0          5  1.000000  1.333333
897  Luton Town       Tottenham       0          5  1.000000  1.333333
898  Luton Town       Liverpool       2          5  1.000000  1.333333
899  Luton Town  Crystal Palace       1          5  1.000000  1.333333

[900 rows x 6 columns]

In [9]:
#Renaming the required columns
df = pd.merge(df, away_df, left_on='home_team', right_on='Name', how='inner')
df["home_aagf"] = df["GF"] / df["GP"]
df["home_aagc"] = df["GA"] / df["GP"]
df = df.rename(columns={"Pts": "home_apts"}).drop(columns=["GP", "W", "D", "L", "GF", "GA", "GD"])
df

,home_team,away_team,winner,home_hpts,home_agf,home_agc,home_apts,home_aagf,home_aagc
0,Brentford,Arsenal,1,73,1.565217,1.108696,51,1.272727,1.590909
1,Brentford,Brighton,0,73,1.565217,1.108696,51,1.272727,1.590909
2,Brentford,Liverpool,2,73,1.565217,1.108696,51,1.272727,1.590909
3,Brentford,Chelsea,0,73,1.565217,1.108696,51,1.272727,1.590909
4,Brentford,Leicester City,0,73,1.565217,1.108696,51,1.272727,1.590909
...,...,...,...,...,...,...,...,...,...
895,Luton Town,Wolverhampton,2,5,1.000000,1.333333,4,0.875000,2.250000
896,Luton Town,Burnley,0,5,1.000000,1.333333,4,0.875000,2.250000
897,Luton Town,Tottenham,0,5,1.000000,1.333333,4,0.875000,2.250000
898,Luton Town,Liverpool,2,5,1.000000,1.333333,4,0.875000,2.250000
899,Luton Town,Crystal Palace,1,5,1.000000,1.333333,4,0.875000,2.250000

In [10]:
df["h_pts"] = df["home_hpts"] + df["home_apts"]
df = df.drop(columns=["home_hpts", "home_apts"])
df

,home_team,away_team,winner,home_agf,home_agc,home_aagf,home_aagc,h_pts
0,Brentford,Arsenal,1,1.565217,1.108696,1.272727,1.590909,124
1,Brentford,Brighton,0,1.565217,1.108696,1.272727,1.590909,124
2,Brentford,Liverpool,2,1.565217,1.108696,1.272727,1.590909,124
3,Brentford,Chelsea,0,1.565217,1.108696,1.272727,1.590909,124
4,Brentford,Leicester City,0,1.565217,1.108696,1.272727,1.590909,124
...,...,...,...,...,...,...,...,...
895,Luton Town,Wolverhampton,2,1.000000,1.333333,0.875000,2.250000,9
896,Luton Town,Burnley,0,1.000000,1.333333,0.875000,2.250000,9
897,Luton Town,Tottenham,0,1.000000,1.333333,0.875000,2.250000,9
898,Luton Town,Liverpool,2,1.000000,1.333333,0.875000,2.250000,9
899,Luton Town,Crystal Palace,1,1.000000,1.333333,0.875000,2.250000,9

In [11]:
#Merging all the dataframes to create our final df
df = pd.merge(df, home_df, left_on='away_team', right_on='Name', how='inner')
df["away_agf"] = df["GF"] / df["GP"]
df["away_agc"] = df["GA"] / df["GP"]
df = df.rename(columns={"Pts": "away_hpts"}).drop(columns=["GP", "W", "D", "L", "GF", "GA", "GD"])

df = pd.merge(df, away_df, left_on='away_team', right_on='Name', how='inner')
df["away_aagf"] = df["GF"] / df["GP"]
df["away_aagc"] = df["GA"] / df["GP"]
df = df.rename(columns={"Pts": "away_apts"}).drop(columns=["GP", "W", "D", "L", "GF", "GA", "GD"])
df

,home_team,away_team,winner,home_agf,home_agc,home_aagf,home_aagc,h_pts,away_hpts,away_agf,away_agc,away_apts,away_aagf,away_aagc
0,Brentford,Arsenal,1,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818
1,Brentford,Arsenal,0,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818
2,Brentford,Arsenal,0,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818
3,Manchester Utd,Arsenal,1,1.688889,0.933333,1.222222,1.666667,157,106,2.347826,1.086957,80,1.590909,1.181818
4,Manchester Utd,Arsenal,1,1.688889,0.933333,1.222222,1.666667,157,106,2.347826,1.086957,80,1.590909,1.181818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,Brighton,Sheffield Utd,2,1.577778,1.200000,1.622222,1.533333,135,4,1.000000,2.714286,1,0.571429,2.857143
896,Arsenal,Sheffield Utd,1,2.347826,1.086957,1.590909,1.181818,186,4,1.000000,2.714286,1,0.571429,2.857143
897,West Ham Utd,Sheffield Utd,1,1.577778,1.333333,1.222222,1.555556,117,4,1.000000,2.714286,1,0.571429,2.857143
898,Fulham,Sheffield Utd,1,1.520000,1.520000,1.222222,1.518519,67,4,1.000000,2.714286,1,0.571429,2.857143
899,Nottm Forest,Sheffield Utd,1,1.423077,1.269231,0.653846,2.192308,51,4,1.000000,2.714286,1,0.571429,2.857143

In [12]:
df["apts"] = df["away_hpts"] + df["away_apts"]
df

,home_team,away_team,winner,home_agf,home_agc,home_aagf,home_aagc,h_pts,away_hpts,away_agf,away_agc,away_apts,away_aagf,away_aagc,apts
0,Brentford,Arsenal,1,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818,186
1,Brentford,Arsenal,0,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818,186
2,Brentford,Arsenal,0,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818,186
3,Manchester Utd,Arsenal,1,1.688889,0.933333,1.222222,1.666667,157,106,2.347826,1.086957,80,1.590909,1.181818,186
4,Manchester Utd,Arsenal,1,1.688889,0.933333,1.222222,1.666667,157,106,2.347826,1.086957,80,1.590909,1.181818,186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,Brighton,Sheffield Utd,2,1.577778,1.200000,1.622222,1.533333,135,4,1.000000,2.714286,1,0.571429,2.857143,5
896,Arsenal,Sheffield Utd,1,2.347826,1.086957,1.590909,1.181818,186,4,1.000000,2.714286,1,0.571429,2.857143,5
897,West Ham Utd,Sheffield Utd,1,1.577778,1.333333,1.222222,1.555556,117,4,1.000000,2.714286,1,0.571429,2.857143,5
898,Fulham,Sheffield Utd,1,1.520000,1.520000,1.222222,1.518519,67,4,1.000000,2.714286,1,0.571429,2.857143,5
899,Nottm Forest,Sheffield Utd,1,1.423077,1.269231,0.653846,2.192308,51,4,1.000000,2.714286,1,0.571429,2.857143,5

In [13]:
# Create a unique mapping for each team name
unique_teams = df['home_team'].unique()
team_mapping = {team: i+1 for i, team in enumerate(unique_teams)}

# Map the team names to unique numbers
df['home_team_id'] = df['home_team'].map(team_mapping)
df['away_team_id'] = df['away_team'].map(team_mapping)

df

,home_team,away_team,winner,home_agf,home_agc,home_aagf,home_aagc,h_pts,away_hpts,away_agf,away_agc,away_apts,away_aagf,away_aagc,apts,home_team_id,away_team_id
0,Brentford,Arsenal,1,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818,186,1,23
1,Brentford,Arsenal,0,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818,186,1,23
2,Brentford,Arsenal,0,1.565217,1.108696,1.272727,1.590909,124,106,2.347826,1.086957,80,1.590909,1.181818,186,1,23
3,Manchester Utd,Arsenal,1,1.688889,0.933333,1.222222,1.666667,157,106,2.347826,1.086957,80,1.590909,1.181818,186,2,23
4,Manchester Utd,Arsenal,1,1.688889,0.933333,1.222222,1.666667,157,106,2.347826,1.086957,80,1.590909,1.181818,186,2,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,Brighton,Sheffield Utd,2,1.577778,1.200000,1.622222,1.533333,135,4,1.000000,2.714286,1,0.571429,2.857143,5,16,25
896,Arsenal,Sheffield Utd,1,2.347826,1.086957,1.590909,1.181818,186,4,1.000000,2.714286,1,0.571429,2.857143,5,23,25
897,West Ham Utd,Sheffield Utd,1,1.577778,1.333333,1.222222,1.555556,117,4,1.000000,2.714286,1,0.571429,2.857143,5,19,25
898,Fulham,Sheffield Utd,1,1.520000,1.520000,1.222222,1.518519,67,4,1.000000,2.714286,1,0.571429,2.857143,5,20,25
899,Nottm Forest,Sheffield Utd,1,1.423077,1.269231,0.653846,2.192308,51,4,1.000000,2.714286,1,0.571429,2.857143,5,22,25

In [14]:
df = df.drop(columns=["home_team", "away_team", "away_hpts", "away_apts"])
df

,winner,home_agf,home_agc,home_aagf,home_aagc,h_pts,away_agf,away_agc,away_aagf,away_aagc,apts,home_team_id,away_team_id
0,1,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
1,0,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
2,0,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
3,1,1.688889,0.933333,1.222222,1.666667,157,2.347826,1.086957,1.590909,1.181818,186,2,23
4,1,1.688889,0.933333,1.222222,1.666667,157,2.347826,1.086957,1.590909,1.181818,186,2,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,2,1.577778,1.200000,1.622222,1.533333,135,1.000000,2.714286,0.571429,2.857143,5,16,25
896,1,2.347826,1.086957,1.590909,1.181818,186,1.000000,2.714286,0.571429,2.857143,5,23,25
897,1,1.577778,1.333333,1.222222,1.555556,117,1.000000,2.714286,0.571429,2.857143,5,19,25
898,1,1.520000,1.520000,1.222222,1.518519,67,1.000000,2.714286,0.571429,2.857143,5,20,25
899,1,1.423077,1.269231,0.653846,2.192308,51,1.000000,2.714286,0.571429,2.857143,5,22,25

In [15]:
# Serialize the object to a binary string
team_map_obj = pickle.dumps(team_mapping)

# You can save the serialized data to a file if needed
with open('../data/processed/team_mapping.pkl', 'wb') as file:
    file.write(team_map_obj)

In [16]:
#Saving our dataframe as a csv file
df.to_csv('../data/processed/data.csv')

In [18]:
#Assigning each team in the table with a unique ID
team_map_reverse = {value: key for key, value in team_mapping.items()}
team_map_reverse

{1: 'Brentford',
 2: 'Manchester Utd',
 3: 'Burnley',
 4: 'Chelsea',
 5: 'Everton',
 6: 'Leicester City',
 7: 'Watford',
 8: 'Norwich City',
 9: 'Newcastle Utd',
 10: 'Tottenham',
 11: 'Liverpool',
 12: 'Aston Villa',
 13: 'Crystal Palace',
 14: 'Leeds Utd',
 15: 'Manchester City',
 16: 'Brighton',
 17: 'Southampton',
 18: 'Wolverhampton',
 19: 'West Ham Utd',
 20: 'Fulham',
 21: 'Bournemouth',
 22: 'Nottm Forest',
 23: 'Arsenal',
 24: 'Luton Town',
 25: 'Sheffield Utd'}

In [98]:
team_details_dict = {}
for tid in df["home_team_id"].unique():
    tdf = df.loc[df["home_team_id"] == tid][["home_agf", "home_agc", "home_aagf", "home_aagc", "h_pts", "home_team_id"]].iloc[0]
    team_details_dict[tid] = {
        'agf': tdf["home_agf"],
        'agc': tdf["home_agc"],
        'aagf': tdf["home_aagf"],
        'aagc': tdf["home_aagc"],
        "pts": tdf["h_pts"]
    }
team_details_dict

team_stats_obj = pickle.dumps(team_details_dict)

# You can save the serialized data to a file if needed
with open('../data/processed/team_stats.pkl', 'wb') as file:
    file.write(team_stats_obj)