# Exploratory Data Analysis

In [1]:
#Import required libraries
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
with open('../data/processed/team_mapping.pkl', 'rb') as file:
    team_map = pickle.load(file)
team_map

{'Brentford': 1,
 'Manchester Utd': 2,
 'Burnley': 3,
 'Chelsea': 4,
 'Everton': 5,
 'Leicester City': 6,
 'Watford': 7,
 'Norwich City': 8,
 'Newcastle Utd': 9,
 'Tottenham': 10,
 'Liverpool': 11,
 'Aston Villa': 12,
 'Crystal Palace': 13,
 'Leeds Utd': 14,
 'Manchester City': 15,
 'Brighton': 16,
 'Southampton': 17,
 'Wolverhampton': 18,
 'West Ham Utd': 19,
 'Fulham': 20,
 'Bournemouth': 21,
 'Nottm Forest': 22,
 'Arsenal': 23,
 'Luton Town': 24,
 'Sheffield Utd': 25}

In [3]:
with open('../data/processed/team_stats.pkl', 'rb') as file:
    team_stats = pickle.load(file)
team_stats

{1: {'agf': 1.565217391304348,
  'agc': 1.108695652173913,
  'aagf': 1.2727272727272727,
  'aagc': 1.5909090909090908,
  'pts': 124.0},
 2: {'agf': 1.6888888888888889,
  'agc': 0.9333333333333333,
  'aagf': 1.2222222222222223,
  'aagc': 1.6666666666666667,
  'pts': 157.0},
 3: {'agf': 1.037037037037037,
  'agc': 1.6666666666666667,
  'aagf': 0.84,
  'aagc': 1.6,
  'pts': 42.0},
 4: {'agf': 1.5217391304347827,
  'agc': 1.173913043478261,
  'aagf': 1.5681818181818181,
  'aagc': 1.0909090909090908,
  'pts': 137.0},
 5: {'agf': 1.0666666666666667,
  'agc': 1.3555555555555556,
  'aagf': 0.9777777777777777,
  'aagc': 1.8222222222222222,
  'pts': 92.0},
 6: {'agf': 1.5,
  'agc': 1.3157894736842106,
  'aagf': 1.4736842105263157,
  'aagc': 2.026315789473684,
  'pts': 86.0},
 7: {'agf': 0.8947368421052632,
  'agc': 2.4210526315789473,
  'aagf': 0.8947368421052632,
  'aagc': 1.631578947368421,
  'pts': 23.0},
 8: {'agf': 0.631578947368421,
  'agc': 2.263157894736842,
  'aagf': 0.5789473684210527,
  'aagc': 2.1578947368421053,
  'pts': 22.0},
 9: {'agf': 1.7608695652173914,
  'agc': 0.9782608695652174,
  'aagf': 1.4318181818181819,
  'aagc': 1.4545454545454546,
  'pts': 146.0},
 10: {'agf': 1.9318181818181819,
  'agc': 1.1818181818181819,
  'aagf': 1.7826086956521738,
  'aagc': 1.5434782608695652,
  'pts': 158.0},
 11: {'agf': 2.577777777777778,
  'agc': 0.6888888888888889,
  'aagf': 1.8888888888888888,
  'aagc': 1.2444444444444445,
  'pts': 190.0},
 12: {'agf': 1.9318181818181819,
  'agc': 1.25,
  'aagf': 1.108695652173913,
  'aagc': 1.4130434782608696,
  'pts': 135.0},
 13: {'agf': 1.2272727272727273,
  'agc': 1.0909090909090908,
  'aagf': 1.0869565217391304,
  'aagc': 1.434782608695652,
  'pts': 109.0},
 14: {'agf': 1.1842105263157894,
  'agc': 1.9736842105263157,
  'aagf': 1.1842105263157894,
  'aagc': 2.1578947368421053,
  'pts': 69.0},
 15: {'agf': 3.066666666666667,
  'agc': 0.8666666666666667,
  'aagf': 2.022222222222222,
  'aagc': 0.8,
  'pts': 212.0},
 16: {'agf': 1.5777777777777777,
  'agc': 1.2,
  'aagf': 1.6222222222222222,
  'aagc': 1.5333333333333334,
  'pts': 135.0},
 17: {'agf': 1.105263157894737,
  'agc': 1.605263157894737,
  'aagf': 0.9736842105263158,
  'aagc': 2.0789473684210527,
  'pts': 65.0},
 18: {'agf': 1.0909090909090908,
  'agc': 1.2954545454545454,
  'aagf': 0.8695652173913043,
  'aagc': 1.5,
  'pts': 107.0},
 19: {'agf': 1.5777777777777777,
  'agc': 1.3333333333333333,
  'aagf': 1.2222222222222223,
  'aagc': 1.5555555555555556,
  'pts': 117.0},
 20: {'agf': 1.52,
  'agc': 1.52,
  'aagf': 1.2222222222222223,
  'aagc': 1.5185185185185186,
  'pts': 67.0},
 21: {'agf': 1.037037037037037,
  'agc': 1.4814814814814814,
  'aagf': 1.0,
  'aagc': 2.44,
  'pts': 52.0},
 22: {'agf': 1.4230769230769231,
  'agc': 1.2692307692307692,
  'aagf': 0.6538461538461539,
  'aagc': 2.1923076923076925,
  'pts': 51.0},
 23: {'agf': 2.347826086956522,
  'agc': 1.0869565217391304,
  'aagf': 1.5909090909090908,
  'aagc': 1.1818181818181819,
  'pts': 186.0},
 24: {'agf': 1.0,
  'agc': 1.3333333333333333,
  'aagf': 0.875,
  'aagc': 2.25,
  'pts': 9.0},
 25: {'agf': 1.0,
  'agc': 2.7142857142857144,
  'aagf': 0.5714285714285714,
  'aagc': 2.857142857142857,
  'pts': 5.0}}

In [4]:
#Reading our final dataframe using pandas 
df = pd.read_csv('../data/processed/data.csv').drop(columns=["Unnamed: 0"])
df

,winner,home_agf,home_agc,home_aagf,home_aagc,h_pts,away_agf,away_agc,away_aagf,away_aagc,apts,home_team_id,away_team_id
0,1,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
1,0,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
2,0,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
3,1,1.688889,0.933333,1.222222,1.666667,157,2.347826,1.086957,1.590909,1.181818,186,2,23
4,1,1.688889,0.933333,1.222222,1.666667,157,2.347826,1.086957,1.590909,1.181818,186,2,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,2,1.577778,1.200000,1.622222,1.533333,135,1.000000,2.714286,0.571429,2.857143,5,16,25
896,1,2.347826,1.086957,1.590909,1.181818,186,1.000000,2.714286,0.571429,2.857143,5,23,25
897,1,1.577778,1.333333,1.222222,1.555556,117,1.000000,2.714286,0.571429,2.857143,5,19,25
898,1,1.520000,1.520000,1.222222,1.518519,67,1.000000,2.714286,0.571429,2.857143,5,20,25
899,1,1.423077,1.269231,0.653846,2.192308,51,1.000000,2.714286,0.571429,2.857143,5,22,25

In [11]:
# Analyzing First five rows of the df
df.head()

,winner,home_agf,home_agc,home_aagf,home_aagc,h_pts,away_agf,away_agc,away_aagf,away_aagc,apts,home_team_id,away_team_id
0,1,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
1,0,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
2,0,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
3,1,1.688889,0.933333,1.222222,1.666667,157,2.347826,1.086957,1.590909,1.181818,186,2,23
4,1,1.688889,0.933333,1.222222,1.666667,157,2.347826,1.086957,1.590909,1.181818,186,2,23

In [12]:
# Basic statistics for t
df.describe()

,winner,home_agf,home_agc,home_aagf,home_aagc,h_pts,away_agf,away_agc,away_aagf,away_aagc,apts,home_team_id,away_team_id
count,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,0.910000,1.600000,1.285556,1.287241,1.599330,116.835556,1.598738,1.285946,1.285556,1.600000,116.608889,12.026667,12.106667
std,0.732003,0.551839,0.373977,0.367647,0.390063,50.581399,0.551350,0.373221,0.368221,0.388188,50.589652,6.690634,6.651817
min,0.000000,0.631579,0.688889,0.571429,0.800000,5.000000,0.631579,0.688889,0.571429,0.800000,5.000000,1.000000,1.000000
25%,0.000000,1.105263,1.086957,0.977778,1.413043,69.000000,1.105263,1.090909,0.977778,1.434783,69.000000,6.000000,6.000000
50%,1.000000,1.565217,1.200000,1.222222,1.543478,124.000000,1.521739,1.250000,1.222222,1.543478,117.000000,12.000000,12.000000
75%,1.000000,1.760870,1.355556,1.573864,1.822222,148.750000,1.931818,1.355556,1.573864,1.822222,148.750000,18.000000,18.000000
max,2.000000,3.066667,2.714286,2.022222,2.857143,212.000000,3.066667,2.714286,2.022222,2.857143,212.000000,25.000000,25.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   winner        900 non-null    int64
 1   home_agf      900 non-null    float64
 2   home_agc      900 non-null    float64
 3   home_aagf     900 non-null    float64
 4   home_aagc     900 non-null    float64
 5   h_pts         900 non-null    int64
 6   away_agf      900 non-null    float64
 7   away_agc      900 non-null    float64
 8   away_aagf     900 non-null    float64
 9   away_aagc     900 non-null    float64
 10  apts          900 non-null    int64
 11  home_team_id  900 non-null    int64
 12  away_team_id  900 non-null    int64
dtypes: float64(8), int64(5)
memory usage: 91.5 KB

In [5]:
#Analyzing necessary columns
x = df.drop(columns=["winner"])
y = df[["winner"]]

display(x)
display(y)

,home_agf,home_agc,home_aagf,home_aagc,h_pts,away_agf,away_agc,away_aagf,away_aagc,apts,home_team_id,away_team_id
0,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
1,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
2,1.565217,1.108696,1.272727,1.590909,124,2.347826,1.086957,1.590909,1.181818,186,1,23
3,1.688889,0.933333,1.222222,1.666667,157,2.347826,1.086957,1.590909,1.181818,186,2,23
4,1.688889,0.933333,1.222222,1.666667,157,2.347826,1.086957,1.590909,1.181818,186,2,23
...,...,...,...,...,...,...,...,...,...,...,...,...
895,1.577778,1.200000,1.622222,1.533333,135,1.000000,2.714286,0.571429,2.857143,5,16,25
896,2.347826,1.086957,1.590909,1.181818,186,1.000000,2.714286,0.571429,2.857143,5,23,25
897,1.577778,1.333333,1.222222,1.555556,117,1.000000,2.714286,0.571429,2.857143,5,19,25
898,1.520000,1.520000,1.222222,1.518519,67,1.000000,2.714286,0.571429,2.857143,5,20,25
899,1.423077,1.269231,0.653846,2.192308,51,1.000000,2.714286,0.571429,2.857143,5,22,25

     winner
0         1
1         0
2         0
3         1
4         1
..      ...
895       2
896       1
897       1
898       1
899       1

[900 rows x 1 columns]

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
model = LogisticRegression(multi_class='multinomial', solver='lbfgs')


# Train the model
model.fit(x_train, y_train)

# Make predictions on the test set
y_pred = model.predict(x_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Test Accuracy: {accuracy:.2f}')

y_train_pred = model.predict(x_train)

# Calculate and print the training accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)

print(f'Train Accuracy:', train_accuracy)

Test Accuracy: 0.59
Train Accuracy: 0.5666666666666667

/Applications/anaconda3/envs/lab-1-env/lib/python3.10/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Applications/anaconda3/envs/lab-1-env/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
home_team = input("Enter home team: ")
away_team = input("Enter away team: ")

ip_df = {}
hid = team_map[home_team]
aid = team_map[away_team]


ip_df['home_agf'] = team_stats[hid]['agf']
ip_df['home_agc'] = team_stats[hid]['agc']
ip_df['home_aagf'] = team_stats[hid]['aagf']
ip_df['home_aagc'] = team_stats[hid]['aagc']
ip_df['h_pts'] = team_stats[hid]['pts']

ip_df['away_agf'] = team_stats[aid]['agf']
ip_df['away_agc'] = team_stats[aid]['agc']
ip_df['away_aagf'] = team_stats[aid]['aagf']
ip_df['away_aagc'] = team_stats[aid]['aagc']
ip_df['apts'] = team_stats[aid]['pts']
ip_df['home_team_id'] = hid
ip_df['away_team_id'] = aid

ip_df = pd.DataFrame(ip_df, index=[0])


res = model.predict(ip_df)
print(f'Winner: {home_team if res[0] == 1 else away_team}')

Enter home team: Manchester Utd
Enter away team: Liverpool
Winner: Liverpool